<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="Url" value="https://seawars.azurewebsites.net/"/><!--https://localhost:44357/-->
		<add key="MsSqlConnectionString" value="Server=localhost\\SQLEXPRESS;Database=Seawars;Trusted_Connection=True"/>
	</appSettings>

	

</configuration>